html{
	background: url(../img/background/YellowFields-NW.svg) no-repeat top center;
	background-size: cover;
	height: 100%;
}

body{
	height: 100%;
	margin: 0 auto;
	font-family: arial, sans-serif;
	font-size: 12px;
	background-color: inherit !important;
}

.container{
	text-align: center;
}

header{
	background-color: rgba(255, 255, 255, .6);
	text-align: center;
}

header h1{
	font-size: 2em;
	color: black;
	margin: 0px;
	padding: 10px 0px;
}

a{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	color: black;
}